@import "~bootstrap/scss/bootstrap.scss";

/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
body{
    background-color: rgb(29, 29, 29);
}
.controls{
    font-size: 2em;
    padding-bottom: 0.6em;
    background-color: rgb(53, 53, 56);
    padding-top: 0.6em;
}
i{
    margin-right: 0.5em;
    margin-left: 0.5em;
    color: rgba(255, 255, 255, 0.836);
}
.list{
    background-color: rgb(29, 29, 29);
    color: white;
    border-color: rgb(70, 70, 70) ;
}
.empty{
    height: 1.8em;
    margin-bottom: 1.5em;
    margin-top: 0.2em;
}
.row{
    margin: 0;
}
.sideBar{
    background-color:rgb(26, 25, 25) ;
    margin-bottom: 0px;
    padding-bottom: 50em;
}
a{
    color: white;
}